<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="URDF">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-9.00283980698191E-09 5.37260734512213E-09 0.0004696376772092"
        rpy="0 0 0" />
      <mass
        value="0.326547449294338" />
      <inertia
        ixx="0.000391289335637491"
        ixy="2.91015127306445E-12"
        ixz="-4.83180864568021E-14"
        iyy="0.000178962951205194"
        iyz="-2.65253578582664E-11"
        izz="0.000422717056040505" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="hip_RF">
    <inertial>
      <origin
        xyz="0.01043789785135 -0.00182747499403901 0.0298079563378445"
        rpy="0 0 0" />
      <mass
        value="0.0691270911282823" />
      <inertia
        ixx="1.61354149984616E-05"
        ixy="-3.48903802767794E-07"
        ixz="4.23730756674166E-08"
        iyy="1.15235644013864E-05"
        iyz="-3.1805580390817E-09"
        izz="1.0322138370621E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/hip_RF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/hip_RF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1_RF"
    type="revolute">
    <origin
      xyz="-0.0449999975183671 -0.0954992296169629 0.00938098015422906"
      rpy="1.5707963267949 1.5707963267949 0" />
    <parent
      link="base_link" />
    <child
      link="hip_RF" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Thigh_RF">
    <inertial>
      <origin
        xyz="0.032280431807894 -0.0236802430912848 0.0104420535363001"
        rpy="0 0 0" />
      <mass
        value="0.013651926085773" />
      <inertia
        ixx="5.5204154247523E-06"
        ixy="6.54647969104011E-06"
        ixz="-1.79176256301231E-07"
        iyy="9.6200206165967E-06"
        iyz="1.3165139076472E-07"
        izz="1.46391765309724E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Thigh_RF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Thigh_RF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2_RF"
    type="revolute">
    <origin
      xyz="-0.00173667361422397 -0.0254384909655809 0.0198618942938599"
      rpy="1.5707963267949 0 -0.0746977131182897" />
    <parent
      link="hip_RF" />
    <child
      link="Thigh_RF" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Calf_RF">
    <inertial>
      <origin
        xyz="0.0373951602098321 0.0424247926702395 0.00939524740905079"
        rpy="0 0 0" />
      <mass
        value="0.00886601436486069" />
      <inertia
        ixx="1.05947647712127E-05"
        ixy="-7.05915122656913E-06"
        ixz="-2.68979687283937E-07"
        iyy="5.54566523908732E-06"
        iyz="-3.43790171996494E-07"
        izz="1.54522767088771E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Calf_RF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Calf_RF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3_RF"
    type="revolute">
    <origin
      xyz="0.0805856649939703 -0.0591729658721312 0.00130000000000041"
      rpy="0 0 0" />
    <parent
      link="Thigh_RF" />
    <child
      link="Calf_RF" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Foot_RF">
    <inertial>
      <origin
        xyz="-0.00583271260362817 -6.02953798001238E-12 0.000153322639481396"
        rpy="0 0 0" />
      <mass
        value="0.00230350114254969" />
      <inertia
        ixx="2.28786125493708E-07"
        ixy="8.28931133524343E-17"
        ixz="3.24629206116933E-11"
        iyy="1.24696640412666E-07"
        iyz="-8.68398944225259E-15"
        izz="1.62073483970147E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Foot_RF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Foot_RF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4_RF"
    type="fixed">
    <origin
      xyz="0.0849986200651742 0.0827272177698522 0.00992243475665372"
      rpy="0 0 0.0695608286554116" />
    <parent
      link="Calf_RF" />
    <child
      link="Foot_RF" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Hip_LB">
    <inertial>
      <origin
        xyz="0.0105452258430738 -0.00104424135186948 0.0298079668931553"
        rpy="0 0 0" />
      <mass
        value="0.0691271457278031" />
      <inertia
        ixx="1.61616629119539E-05"
        ixy="-1.80295208678471E-09"
        ixz="4.24922638135225E-08"
        iyy="1.14973259921799E-05"
        iyz="-9.42833085901119E-12"
        izz="1.03221479885146E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Hip_LB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Hip_LB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1_LB"
    type="revolute">
    <origin
      xyz="0.0449999975183657 0.0954992296169666 0.00938098015422961"
      rpy="-1.57079632679533 1.51781885809782 0" />
    <parent
      link="base_link" />
    <child
      link="Hip_LB" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Thigh_LB">
    <inertial>
      <origin
        xyz="0.0324139783823418 0.0234973998967534 0.010442053925429"
        rpy="0 0 0" />
      <mass
        value="0.0136519261569896" />
      <inertia
        ixx="5.44654101193738E-06"
        ixy="-6.52288913271812E-06"
        ixz="-1.79917384009864E-07"
        iyy="9.69389504682865E-06"
        iyz="-1.30636531831865E-07"
        izz="1.46391765806164E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Thigh_LB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Thigh_LB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2_LB"
    type="revolute">
    <origin
      xyz="0.000166657436375506 -0.0254979846657288 0.0399381057240706"
      rpy="1.57079632679489 0 0" />
    <parent
      link="Hip_LB" />
    <child
      link="Thigh_LB" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Calf_LB">
    <inertial>
      <origin
        xyz="0.0373755291685387 -0.0424425417626215 0.00939531674951682"
        rpy="0 0 0" />
      <mass
        value="0.00886593782689565" />
      <inertia
        ixx="1.06012768805217E-05"
        ixy="7.0567330024193E-06"
        ixz="-2.68802188499202E-07"
        iyy="5.53902340071791E-06"
        iyz="3.43894193393527E-07"
        izz="1.54521587443384E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Calf_LB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Calf_LB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3_LB"
    type="revolute">
    <origin
      xyz="0.0809190598674842 0.0587165140777625 0.00130000001784963"
      rpy="0 0 0" />
    <parent
      link="Thigh_LB" />
    <child
      link="Calf_LB" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Foot_LB">
    <inertial>
      <origin
        xyz="-0.00583271259474122 8.96259455540616E-12 -0.00015332264911988"
        rpy="0 0 0" />
      <mass
        value="0.00230350113970975" />
      <inertia
        ixx="2.28786125140657E-07"
        ixy="-1.39383496295674E-16"
        ixz="-3.24629447166463E-11"
        iyy="1.24696640031777E-07"
        iyz="-8.67863308878992E-15"
        izz="1.62073483866643E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Foot_LB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Foot_LB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4_LB"
    type="fixed">
    <origin
      xyz="0.0849599453223677 -0.0827669358122232 0.0102631627484333"
      rpy="0 0 -0.0700282136507758" />
    <parent
      link="Calf_LB" />
    <child
      link="Foot_LB" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Hip_RB">
    <inertial>
      <origin
        xyz="0.0105452718057615 0.00104790647181918 0.0298079669074503"
        rpy="0 0 0" />
      <mass
        value="0.0691271472886633" />
      <inertia
        ixx="1.61616629716149E-05"
        ixy="-1.80294882701865E-09"
        ixz="4.24935928374082E-08"
        iyy="1.14973260843965E-05"
        iyz="-9.42672034285841E-12"
        izz="1.03221481331905E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Hip_RB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Hip_RB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1_RB"
    type="revolute">
    <origin
      xyz="-0.0450000024816331 0.0954992296169642 0.00938098015422933"
      rpy="-1.57079632679485 1.55110721336966 0" />
    <parent
      link="base_link" />
    <child
      link="Hip_RB" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Thigh_RB">
    <inertial>
      <origin
        xyz="0.0294507893394123 -0.0271140048307842 0.0104420443577261"
        rpy="0 0 0" />
      <mass
        value="0.0136519261014922" />
      <inertia
        ixx="7.01396490495221E-06"
        ixy="6.8372998682109E-06"
        ixz="-1.63470037376898E-07"
        iyy="8.12647114300816E-06"
        iyz="1.50710865856366E-07"
        izz="1.46391765379428E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Thigh_RB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Thigh_RB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2_RB"
    type="revolute">
    <origin
      xyz="0.000166704579416199 0.0255007569262712 0.0399381047387575"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="Hip_RB" />
    <child
      link="Thigh_RB" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Calf_RB">
    <inertial>
      <origin
        xyz="0.0280177133289313 0.0491250617205707 0.00939525233233363"
        rpy="0 0 0" />
      <mass
        value="0.00886600305804803" />
      <inertia
        ixx="1.3190036197293E-05"
        ixy="-5.47651283877583E-06"
        ixz="-1.9369614119875E-07"
        iyy="2.95037700700145E-06"
        iyz="-3.91179550008804E-07"
        izz="1.54522614077137E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Calf_RB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Calf_RB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3_RB"
    type="revolute">
    <origin
      xyz="0.073521684021235 -0.0677450896688274 0.00129999081166665"
      rpy="0 0 0" />
    <parent
      link="Thigh_RB" />
    <child
      link="Calf_RB" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Foot_RB">
    <inertial>
      <origin
        xyz="-0.0058327126082301 -1.43364418947467E-09 0.000153322628925534"
        rpy="0 0 0" />
      <mass
        value="0.00230350114517015" />
      <inertia
        ixx="2.28786125807996E-07"
        ixy="5.57737663105695E-16"
        ixz="3.24627559365968E-11"
        iyy="1.24696640765498E-07"
        iyz="-8.69112637643003E-15"
        izz="1.62073484065313E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Foot_RB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Foot_RB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4_RB"
    type="fixed">
    <origin
      xyz="0.0664620022781575 0.0982413366463415 0.00992243475666016"
      rpy="0 0 0.273708943903006" />
    <parent
      link="Calf_RB" />
    <child
      link="Foot_RB" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Hip_LF">
    <inertial>
      <origin
        xyz="0.010545 0.0010468 0.029808"
        rpy="0 0 0" />
      <mass
        value="0.069127" />
      <inertia
        ixx="1.6162E-05"
        ixy="-1.8027E-09"
        ixz="4.2494E-08"
        iyy="1.1497E-05"
        iyz="-9.4597E-12"
        izz="1.0322E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Hip_LF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Hip_LF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1_LF"
    type="revolute">
    <origin
      xyz="0.045 -0.095499 0.009381"
      rpy="1.5708 1.5617 0" />
    <parent
      link="base_link" />
    <child
      link="Hip_LF" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Thigh_LF">
    <inertial>
      <origin
        xyz="0.036049 0.017427 0.010442"
        rpy="0 0 0" />
      <mass
        value="0.013652" />
      <inertia
        ixx="3.3185E-06"
        ixy="-5.3834E-06"
        ixz="-2.001E-07"
        iyy="1.1822E-05"
        iyz="-9.6944E-08"
        izz="1.4639E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Thigh_LF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Thigh_LF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2_LF"
    type="revolute">
    <origin
      xyz="0.00016671 0.0255 0.019862"
      rpy="-1.5708 0 0" />
    <parent
      link="Hip_LF" />
    <child
      link="Thigh_LF" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Calf_LF">
    <inertial>
      <origin
        xyz="0.0400074091928247 -0.0399710015975013 0.00939526551731823"
        rpy="0 0 0" />
      <mass
        value="0.00886599216069837" />
      <inertia
        ixx="9.68199146472528E-06"
        ixy="7.32166441792946E-06"
        ixz="-2.90209278325821E-07"
        iyy="6.45839516851461E-06"
        iyz="3.26054960970975E-07"
        izz="1.5452236619894E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Calf_LF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Calf_LF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3_LF"
    type="revolute">
    <origin
      xyz="0.089994 0.043563 0.0013"
      rpy="0 0 0" />
    <parent
      link="Thigh_LF" />
    <child
      link="Calf_LF" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Foot_LF">
    <inertial>
      <origin
        xyz="-0.00583271258837526 7.68030083975191E-12 0.000153322580269066"
        rpy="0 0 0" />
      <mass
        value="0.00230350113811287" />
      <inertia
        ixx="2.28786124942133E-07"
        ixy="-1.3859269384569E-16"
        ixz="3.24624743400965E-11"
        iyy="1.24696639819762E-07"
        iyz="-8.67860558172583E-15"
        izz="1.62073483812351E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Foot_LF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF/meshes/Foot_LF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4_LF"
    type="fixed">
    <origin
      xyz="0.090068 -0.077177 0.0099224"
      rpy="0 0 -0.0061764" />
    <parent
      link="Calf_LF" />
    <child
      link="Foot_LF" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>