<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="URDF_1">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-8.89733209330501E-09 5.80279366224623E-09 0.000469638111616488"
        rpy="0 0 0" />
      <mass
        value="0.326547450453838" />
      <inertia
        ixx="0.000391289337593216"
        ixy="3.11507093855639E-12"
        ixz="3.2458604082514E-14"
        iyy="0.000178962951565766"
        iyz="-2.56961793499477E-11"
        izz="0.000422717057682732" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="hip_RF">
    <inertial>
      <origin
        xyz="0.0101758409718946 -0.00295324280623038 0.0298079534648806"
        rpy="0 0 0" />
      <mass
        value="0.0691270950351537" />
      <inertia
        ixx="1.60045029240141E-05"
        ixy="-8.41630917562136E-07"
        ixz="4.17715702410563E-08"
        iyy="1.16544762200248E-05"
        iyz="-7.79296720298759E-09"
        izz="1.03221381222432E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/hip_RF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/hip_RF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1_RF"
    type="revolute">
    <origin
      xyz="-0.0449999975183673 -0.0954992296169646 0.00938098015422839"
      rpy="1.5707963267949 1.5707963267949 0" />
    <parent
      link="base_link" />
    <child
      link="hip_RF" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Thigh_RF">
    <inertial>
      <origin
        xyz="0.0293301594342765 -0.0272442713335294 0.0104420530076204"
        rpy="0 0 0" />
      <mass
        value="0.0136519261065869" />
      <inertia
        ixx="7.07459649682712E-06"
        ixy="6.84196217020393E-06"
        ixz="-1.62800429715419E-07"
        iyy="8.06583954976181E-06"
        iyz="1.51433948647116E-07"
        izz="1.46391765368904E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Thigh_RF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Thigh_RF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2_RF"
    type="revolute">
    <origin
      xyz="-0.00450651591222284 -0.025092092493153 0.0198618938454757"
      rpy="1.5707963268116 0 -0.184218403881293" />
    <parent
      link="hip_RF" />
    <child
      link="Thigh_RF" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Calf_RF">
    <inertial>
      <origin
        xyz="0.047130767944832 0.0312562104039913 0.00939524605364289"
        rpy="0 0 0" />
      <mass
        value="0.00886601726386029" />
      <inertia
        ixx="6.71306610984721E-06"
        ixy="-7.37313616292729E-06"
        ixz="-3.49041423020364E-07"
        iyy="9.42736783203624E-06"
        iyz="-2.62130389157074E-07"
        izz="1.54522802785908E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Calf_RF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Calf_RF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3_RF"
    type="revolute">
    <origin
      xyz="0.0732205350882606 -0.0680702904138538 0.00129999939815947"
      rpy="0 0 0" />
    <parent
      link="Thigh_RF" />
    <child
      link="Calf_RF" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Foot_RF">
    <inertial>
      <origin
        xyz="-0.00583271386296175 -2.40392014627666E-09 0.000153322641961037"
        rpy="0 0 0" />
      <mass
        value="0.00230350113995821" />
      <inertia
        ixx="2.28786125178542E-07"
        ixy="8.23607527728537E-16"
        ixz="3.24629427146376E-11"
        iyy="1.2469664007038E-07"
        iyz="-8.68168615618258E-15"
        izz="1.62073483876861E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Foot_RF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Foot_RF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4_RF"
    type="fixed">
    <origin
      xyz="0.103568272218062 0.0578115123715837 0.00992243475665355"
      rpy="0 0 -0.193181008175667" />
    <parent
      link="Calf_RF" />
    <child
      link="Foot_RF" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Hip_LB">
    <inertial>
      <origin
        xyz="0.0105443186238565 -0.00105472348652783 0.0298079519245261"
        rpy="0 0 0" />
      <mass
        value="0.0691271600080189" />
      <inertia
        ixx="1.61616624786488E-05"
        ixy="-1.80350617679244E-09"
        ixz="4.24921726067964E-08"
        iyy="1.14973269950902E-05"
        iyz="-9.47563062784748E-12"
        izz="1.03221485699731E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Hip_LB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0 0 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Hip_LB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1_LB"
    type="revolute">
    <origin
      xyz="0.0449999975824225 0.0954992295412814 0.00938097942002192"
      rpy="1.57079632495153 1.34679897174749 3.14159265169919" />
    <parent
      link="base_link" />
    <child
      link="Hip_LB" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Thigh_LB">
    <inertial>
      <origin
        xyz="0.0389608196571295 0.00926999545325023 0.0104420543671168"
        rpy="0 0 0" />
      <mass
        value="0.0136519259715228" />
      <inertia
        ixx="1.45113756843158E-06"
        ixy="-3.10079693063737E-06"
        ixz="-2.1625638659868E-07"
        iyy="1.36892984020968E-05"
        iyz="-5.1665709849204E-08"
        izz="1.46391764988465E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Thigh_LB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Thigh_LB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2_LB"
    type="revolute">
    <origin
      xyz="0.000165754722025624 -0.0255084660262564 0.039938106153917"
      rpy="1.5707963267949 0 0" />
    <parent
      link="Hip_LB" />
    <child
      link="Thigh_LB" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Calf_LB">
    <inertial>
      <origin
        xyz="0.0562208281794497 -0.00612334120609302 0.00939526919960348"
        rpy="0 0 0" />
      <mass
        value="0.00886598317933579" />
      <inertia
        ixx="1.27005551146409E-06"
        ixy="3.15639128636823E-06"
        ixz="-4.30423969535076E-07"
        iyy="1.48703265621312E-05"
        iyz="7.25767881715299E-08"
        izz="1.54522330502024E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Calf_LB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Calf_LB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3_LB"
    type="revolute">
    <origin
      xyz="0.0972627533996326 0.0231988662333634 0.00129999934280145"
      rpy="0 0 0" />
    <parent
      link="Thigh_LB" />
    <child
      link="Calf_LB" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Foot_LB">
    <inertial>
      <origin
        xyz="-0.00583271254232623 -1.28429211709857E-11 -0.000153322627192587"
        rpy="0 0 0" />
      <mass
        value="0.0023035011249116" />
      <inertia
        ixx="2.28786123341901E-07"
        ixy="-1.08414761372025E-16"
        ixz="-3.2462602967542E-11"
        iyy="1.24696638198611E-07"
        iyz="-8.6922778333494E-15"
        izz="1.62073483431227E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Foot_LB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Foot_LB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4_LB"
    type="fixed">
    <origin
      xyz="0.118550160948996 -0.0037969819877507 0.0102631639512074"
      rpy="0 0 0.670278242890864" />
    <parent
      link="Calf_LB" />
    <child
      link="Foot_LB" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Hip_RB">
    <inertial>
      <origin
        xyz="0.0105451228708843 0.0010436826354413 0.0298079568283908"
        rpy="0 0 0" />
      <mass
        value="0.0691271608115489" />
      <inertia
        ixx="1.61616624434881E-05"
        ixy="-1.80356223726995E-09"
        ixz="4.24935085891815E-08"
        iyy="1.14973270830918E-05"
        iyz="-9.46797941481032E-12"
        izz="1.03221486312725E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Hip_RB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Hip_RB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1_RB"
    type="revolute">
    <origin
      xyz="-0.045 0.095499 0.009381"
      rpy="1.5708 1.4798 3.1416" />
    <parent
      link="base_link" />
    <child
      link="Hip_RB" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Thigh_RB">
    <inertial>
      <origin
        xyz="0.0163778274794067 -0.0365180570755745 0.0104420535740748"
        rpy="0 0 0" />
      <mass
        value="0.0136519260678425" />
      <inertia
        ixx="1.21366190482728E-05"
        ixy="5.11918632691079E-06"
        ixz="-9.09070487356917E-08"
        iyy="3.00381699398105E-06"
        iyz="2.02909157620302E-07"
        izz="1.46391765305746E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Thigh_RB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Thigh_RB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2_RB"
    type="revolute">
    <origin
      xyz="0.000166547789723137 0.025496533420395 0.0399381057061415"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="Hip_RB" />
    <child
      link="Thigh_RB" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Calf_RB">
    <inertial>
      <origin
        xyz="0.035959 0.043649 0.0093953"
        rpy="0 0 0" />
      <mass
        value="0.008866" />
      <inertia
        ixx="1.106E-05"
        ixy="-6.8751E-06"
        ixz="-2.5736E-07"
        iyy="5.0805E-06"
        iyz="-3.5257E-07"
        izz="1.5452E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Calf_RB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Calf_RB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3_RB"
    type="revolute">
    <origin
      xyz="0.0408860054507293 -0.0912215931263758 0.00130000120269708"
      rpy="0 0 0" />
    <parent
      link="Thigh_RB" />
    <child
      link="Calf_RB" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Foot_RB">
    <inertial>
      <origin
        xyz="-0.0058327 2.7064E-10 0.00015332"
        rpy="0 0 0" />
      <mass
        value="0.0023035" />
      <inertia
        ixx="2.2879E-07"
        ixy="-1.3103E-17"
        ixz="3.2463E-11"
        iyy="1.247E-07"
        iyz="-8.6788E-15"
        izz="1.6207E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Foot_RB.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Foot_RB.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4_RB"
    type="fixed">
    <origin
      xyz="0.0821911036658188 0.0855171354239601 0.00992243475665383"
      rpy="0 0 0.102932003324284" />
    <parent
      link="Calf_RB" />
    <child
      link="Foot_RB" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Hip_LF">
    <inertial>
      <origin
        xyz="0.010545 0.001051 0.029808"
        rpy="0 0 0" />
      <mass
        value="0.069127" />
      <inertia
        ixx="1.6162E-05"
        ixy="-1.8027E-09"
        ixz="4.2494E-08"
        iyy="1.1497E-05"
        iyz="-9.4684E-12"
        izz="1.0322E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Hip_LF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Hip_LF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint1_LF"
    type="revolute">
    <origin
      xyz="0.045 -0.095499 0.009381"
      rpy="-1.5708 1.4693 3.1416" />
    <parent
      link="base_link" />
    <child
      link="Hip_LF" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Thigh_LF">
    <inertial>
      <origin
        xyz="0.034019164111318 0.0211109458136879 0.0104420481040475"
        rpy="0 0 0" />
      <mass
        value="0.0136519261108968" />
      <inertia
        ixx="4.53475222085093E-06"
        ixy="-6.15175050348603E-06"
        ixz="-1.88827169706107E-07"
        iyy="1.06056837820887E-05"
        iyz="-1.173902192775E-07"
        izz="1.46391765421942E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Thigh_LF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Thigh_LF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint2_LF"
    type="revolute">
    <origin
      xyz="0.000166513432114379 0.0255038634633682 0.0198618913914449"
      rpy="-1.57079632679489 0 0" />
    <parent
      link="Hip_LF" />
    <child
      link="Thigh_LF" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Calf_LF">
    <inertial>
      <origin
        xyz="0.0488571539883216 -0.0284825016710645 0.00939526618602071"
        rpy="0 0 0" />
      <mass
        value="0.00886599012842122" />
      <inertia
        ixx="5.87197186973352E-06"
        ixy="7.16745917722171E-06"
        ixz="-3.63587291398333E-07"
        iyy="1.02684116570573E-05"
        iyz="2.41531296582187E-07"
        izz="1.54522338004696E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Calf_LF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Calf_LF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint3_LF"
    type="revolute">
    <origin
      xyz="0.0849262922412908 0.0527589116011191 0.00129999273078008"
      rpy="0 0 0" />
    <parent
      link="Thigh_LF" />
    <child
      link="Calf_LF" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1.5"
      velocity="6" />
  </joint>
  <link
    name="Foot_LF">
    <inertial>
      <origin
        xyz="-0.00583271257873152 6.26870777509225E-12 0.000153322576572135"
        rpy="0 0 0" />
      <mass
        value="0.00230350113544803" />
      <inertia
        ixx="2.28786124611548E-07"
        ixy="-1.67799052025098E-16"
        ixz="3.2462475371422E-11"
        iyy="1.24696639474126E-07"
        iyz="-8.67626272333531E-15"
        izz="1.620734837238E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Foot_LF.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_1/meshes/Foot_LF.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Joint4_LF"
    type="fixed">
    <origin
      xyz="0.106733851654356 -0.0517343491691078 0.00992243475665783"
      rpy="0 0 0.250959525591169" />
    <parent
      link="Calf_LF" />
    <child
      link="Foot_LF" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>